@theme {
  /* --color-primary: #94dd0f; */
  --color-primary: #79b40d;
  --color-hoverPrimary: #79b40d;

  --breakpoint-ssm: 450px;
}

@media (min-width: 1800px) {
  .big {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
